<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Add a new Phone</title>
  </head>
  <body>
    <h1>Formulario de registro de un nuevo telefono</h1>
    <form th:action="@{${host}+'/phones/create'}" method="POST">
      <div class="form-group">
        <label for="">ID</label>
        <input type="text" name="id" />
      </div>
      <div class="form-group">
        <label for="">Marca</label>
        <input type="text" name="marca" />
      </div>
      <div class="form-group">
        <label for="">Modelo</label>
        <input type="text" name="modelo" />
      </div>
      <div class="form-group">
        <label for="">Memoria interna</label>
        <input type="text" name="memoria_interna" />
      </div>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
